aside{
    width: 12.5rem;
    background-color: black;
    height: 100%;
    flex-shrink: 0;
}
.logo .words-logo{
    width: 80%;
    padding: .9375rem 1.875rem .9375rem .9375rem;
}
.logo .only-logo{
    display: none;
    padding: .9375rem;
    width: 60px;
    height: 60px;
}

.nav-menu{
    padding-left: .9375rem;
}
.home{
    display: flex;
    align-items: center;
}
.nav-menu li {
    padding-bottom: .9375rem;
}
.nav-menu a{
    color: gray;
}
.nav-menu h4{
    color: white;
    padding-bottom: .625rem;
    padding-top: .625rem;
}
.nav-menu img{
    width: 25px;
    height: 25px;
    
}
.home span{
    color: white;
}
.add-playlist i{
    font-size: 2.5rem;
    padding-right: .625rem;
}
.add-playlist{
    align-items: center;
    display: flex;
    
}
/* RESPONSIVE ASIDE */

@media only screen and (max-width: 600px) {
    .playlist{
        display: none;
    }
    .logo .only-logo{
        display: block;
    }
    .logo .words-logo{
        display: none;
    }
    .nav-menu img{
        display: block;
    }
    .nav-menu span{
        display: none;
    }
}
