footer{
    height: 5.625rem;
    background-color: #282828;
    
}
.row{
    display: flex;
    height: 100%;
}

.col-small{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}
.col-big{
    width: 50%;
    height: 100%;
}
.col-small .justify-content-start div{
    display: block;
}
.img-footer img{
    object-fit: cover;
    height: 80px;
    width: 80px;
    padding: 5px;
    display: block;
}
.title-footer{
    margin-left: .9375rem;
}
.title-footer h4{
    color: white;
}
.title-footer div{
    color: grey;
}

.player{
    display: flex;
}
.player i{
    color: white;
    padding: 10px;
    font-size: 1.25rem;
    text-align: center;
}
.hr-track{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
}
.hr-big{
  width: 250px;
  height: 4px;
  background-color: gray;
  border: none;
  border-radius: 15px;
  margin-right: 15px;

}
.hr-small{
  width: 100px;
  height: 4px;
  background-color: white;
  border: none;
  border-radius: 15px;
  margin-left: 15px;
}
.hr-medium{
    width: 80px;
    height: 4px;
    background-color: gray;
    border: none;
    border-radius: 15px;
    margin-right: 15px;
  
}
.hr-xs{
    width: 30px;
    height: 4px;
    background-color: white;
    border: none;
    border-radius: 15px;
    margin-left: 15px;
}
 

