footer{
    height: 5.625rem;
    background-color: #282828;
}
.row{
    display: flex;
    height: 100%;
}

.col-small{
    width: 25%;
    border: 1px dashed red;
    height: 100%;
    display: flex;
    align-items: center;
}
.col-big{
    width: 50%;
    height: 100%;
    border: 1px dashed red;
}
.col-small div{
    display: block;
}
.img-footer img{
    object-fit: cover;
    height: 80px;
    width: 80px;
    padding: 5px;
    display: block;
}
.title-footer{
    margin-left: .9375rem;
}
.title-footer h4{
    color: white;
}
.title-footer div{
    color: grey;
}